.manager {
    background-color: darkgray;
    width: 25%;
    margin: auto;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: darkgray 0 1px 2px;

}

.employee {
    background-color: darkgray;
    width: 25%;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: darkgray 0 1px 2px;
 
}